<article class="beginning">
  <h2 class="h1">BEGINNING BRITANNIA</h2>
  <div>
    <div class="table-contents">
      <strong class="underline">Table of contents</strong>
      <ul>
        <li>
          <a href="#shard">Shard Selection</a>
        </li>
        <li>
          <a href="#create">Creating a Character</a>
        </li>
        <li>
          <a href="#profession">Choosing a Profession</a>
        </li>
        <li>
          <a href="#interacting">Interacting with the Game</a>
        </li>
        <li>
          <a href="#paperdoll">Your Paperdoll</a>
        </li>
        <li>
          <a href="#movement">Movement</a>
        </li>
        <li>
          <a href="#speech">Speech</a>
        </li>
        <li>
          <a href="#inventory">Your Inventory</a>
        </li>
        <li>
          <a href="#combat">Combat</a>
        </li>
        <li>
          <a href="#additionalinfo">Additional Information</a>
        </li>
      </ul>
    </div>

    <p>
      The Ultima Online interface is designed to provide you with an easy way to interact with the virtual world of Britannia.
    </p>
    <p>
      Your first experience with the Ultima Online interface will be in selecting a shard and creating your first character.
    </p>
    <strong id="shard">Shard Selection</strong>
    <p>
      Ultima Online uses a multi-shard system (or multi-server) to maintain many different copies of the world. Choosing the shard you wish to play on is an important part of the process of starting out in Ultima Online.
    </p>
    <%= image_tag("screenshot-shard.jpg") %>

    <strong id="create">Creating a Character</strong>
    <p>
      Once you've chosen a shard, Ultima Online will display an empty character list. To create a new character, simply click on the "New" button.
    </p>
    <%= image_tag("screenshot-create.jpg") %>

    <strong id="profession">Choosing a Profession</strong>
    <p>
      Ultima Online gives you the option to choose your character from a set of templates of traditional professions. You're certainly not required to build your character from a template, but we highly recommend it for the first-time player. You may create multiple characters on each shard (except Siege Perilous), so don't worry about creating a character you may not like. Using a template for your first character is an excellent way to get a feel for Ultima Online.
    </p>
    <p>
      To create a character from a template, choose the 'Adventurer' or 'Merchant' option. The 'Advanced' option is for those comfortable enough with the UO skill system to build a character from scratch.
    </p>
    <p>
      Once you have chosen a starting profession, you'll need to customize the 'look' of your character. The image you create will be visible to other players in the game whenever they double-click on you. This image is also known as your 'paperdoll.'
    </p>
    <p>
      You can specify gender, skin color, hair style and color, shirt color, pants/skirt color and, if you've chosen to play a male character, facial hair style and color.
    </p>
    <p>
      Your first character will show up with defaults for all of these options, to change them, simply click on the corresponding part on your character. If you click on an item of clothing, you will then be able to select a color by clicking anywhere in the palette box to the right of your character. If the selected item is a hair-style, you will see a drop-down menu appear to the left of your character listing all of the style options. Clicking on one will apply it to your character.
    </p>
    <p>
      When you are satisfied with your appearance, click to continue, and you will be given a brief tutorial on basic commands and specific information about any specialized skills your character has learned. Read the tutorial closely - the information may come in handy!
    </p>

    <strong id="interacting">Interacting with the Game</strong>
    <p>
      Congratulations! You've made it into the world of Britannia!<br />
      Before you rush out to begin slaying dragons, you may wish to know a bit about how to interact with the game and the players around you.
    </p>
    <p>
      When you first arrive in Britannia, you will be in a public area of the city you selected. Your initial possessions will be a shirt, shoes, a pair of breeches or a skirt (depending on your character's gender), a backpack, a candle, a blank book (your "diary"), and basic equipment for your starting skills. Initial objects have no monetary value to any of the merchants in the game. You will also receive 100 gold pieces in "seed money" to help you get started. Any weapons you receive are classified as "practice weapons," and do only very limited damage. You will want to acquire new weapons and equipment as soon as possible.
    </p>
    <p>
      The first thing you'll want to do is learn how to move around. You can also familiarize yourself with your Character Window and practice picking up and moving around objects. Practice in the area near where you were placed in the game, as you will be inside town and safe from harm.
    </p>
    <strong id="paperdoll">Your Paperdoll</strong>
    <p>
      Double-clicking on your character in the game window will open a window displaying a representation of your character. This image is known as your "paperdoll" and reflects the hair, skin and clothing color choices you made when creating your character. As you advance in the game and buy new armor and weapons, equipping them will change the look of both your character in the game and your paperdoll.
    </p>
    <p>
      Along the side of your paperdoll are a number of buttons which may be useful in your adventures in Britannia. They are:
    </p>
    <ul class="extra-padding">
      <li>
        HELP - This button can be used to ask for help from the Ultima Online Support Staff.
      </li>
      <li>
        OPTIONS - This button will open the Ultima Online options menu, allowing you to set preferences for the Ultima Online interface.
      </li>
      <li>
        LOG OUT - This button will log you out of Ultima Online.
      </li>
      <li>
        JOURNAL - The Journal button opens a short log of all activity and conversation that has recently taken place around you.
      </li>
      <li>
        SKILLS - This button will open a list of all skills and your current proficiency in those skills. In some cases, you must have this list open to use a skill.
      </li>
      <li>
        CHAT - This button opens the Ultima Online Chat system, allowing you to chat with users on your shard who are not necessarily near you in the game.
      </li>
      <li>
        PEACE - This button toggles your Warmode (or combat) status. When you are in warmode, the button will change to the color red and read "War".
      </li>
      <li>
        STATUS - This button opens your status window, showing basic information about your character such as health, stamina and gold.
      </li>
    </ul>

    <strong id="movement">Walking Around</strong>
    <p>
      You move by right-clicking. Place your cursor over a point on the screen and right-click. You will face and take a step towards the cursor. (Note that throughout this document, "click" or "double-click" refers to a left-click, while right-clicks and double-right-clicks are so identified.)
    </p>

    <strong>Continual Movement</strong>
    <p>
      If you need to go more than a few steps in a given direction, you'll want to move continually. Place your cursor some distance away in the direction you want to go and right-click-and-hold. You will move off in that direction and keep moving until the click is released (or until you run into something). You can change direction by rotating the cursor around your position while holding a right-click.
    </p>

    <strong>Opening Doors</strong>
    <p>
      Before you can move through a doorway, the door must be open. To open a door, double-click on it. If the door is locked, the game will tell you so.
    </p>

    <strong>Keyboard Movement</strong>
    <p>
      You can also move using your keyboard. Hold the arrow keys or the outer numbers of the numeric keypad, and you will move in the corresponding direction.
    </p>
    <strong>Running</strong>
    <p>
      You can run during continual movement. The farther the cursor is from you, the faster you move. To move at a slow stroll, keep the cursor just an inch or so away. To sprint, move the cursor out to the edge of your window.
    </p>
    <strong>Following</strong>
    <p>
      Hold down the 'Alt' key and left-click on another character to follow that character wherever he goes. Note that if you fall too far behind the other character (due to crowds, combat or rough terrain) the 'Follow' command will cancel itself automatically. To stop following, hold 'Alt' and click on yourself.
    </p>
    <strong>Overhead View</strong>
    <p>
      Sometimes, particularly in cities, you need a wider perspective than a single screen offers in order to get your bearings. As an aid to navigation, 'alt-R' will call a scrolling overhead map of the immediate area. Pressing 'alt-R' again makes the map larger (you can change this key command using the "overview" option in your Macros). This map shows buildings and terrain, but not individuals or creatures.
    </p>
    <strong id="speech">Talking to Others</strong>
    <p>
      Conversing with other players requires no special tricks in Ultima Online. Merely type what you wish to say and hit the enter key. Your speech will appear directly above your character's head. There are additional keystrokes that allow you to use speech in specific ways; to yell or to whisper. These keystrokes can be learned in the Player Guide.
    </p>
    <strong>Talking to NPCs</strong>
    <p>
      NPCs (Non-Player Characters) are human characters that are operated by computer, rather than player characters (which are operated by players like you).<br  />
      NPCs can be so believable that it may be difficult to tell that they aren't being played by a real person. If you are unsure whether a character is an NPC, try asking them a question, or ask them to train you in skills.
    </p>
    <p>
      NPCs are present throughout Britannia, selling wares, guarding towns and wandering about. They're quite busy interacting with the populace, so in order to speak with them, you must first get them to notice you. To gain the attention of an NPC, you must include their name (or in the case of a merchant, "vendor" or "merchant") whenever you speak to them. You can learn an NPC name by double-clicking on them.
    </p>
    <p>
      NPCs often provide directions or answer questions posed to them. Be careful to ask your question clearly so that they may understand. Using the "Sell" or "Buy" command with merchants will also allow you to buy and perhaps sell wares.
    </p>
    <p>
      For example saying:
    </p>
    <p>
      "Vendor Buy" - will cause the nearest vendor to display their wares<br />
      "Vendor Sell" - will prompt the vendor to offer gold for your goods, if you have any of value.<br />
      "<Name;>, where is bank?" - will prompt the NPC to offer brief directions to the bank.<br />
      "<Name;> train" - will prompt the NPC to offer you a list of skills they can teach.<br />
      "<Name;> train <skill;>" - will prompt the NPC to tell you the price to train in a specific skill they teach.<br />
    </p>
    <p>
      If an NPC doesn't understand your question, they will generally let you know, though on occasion they may merely ignore you.
    </p>
    <strong id="inventory">Inventory</strong>
    <p>
      At any time, you dig through your backpack to see what you are currently carrying. To view your inventory, double-click on the backpack in your paperdoll window. This will open the backpack and display your inventory. Single-clicking on items within a backpack will display information about them. Double-clicking on an item anywhere in your inventory will attempt to use it, if possible.
    </p>
    <%= image_tag("screenshot-inventory.jpg") %>
    <p>
      Whenever you open a window, whether your paperdoll, your backpack, or any other type, it will contain a small (-) symbol. Left-clicking on this symbol will minimize the window, but will keep it open on screen. Right-clicking anywhere in an open window will close it.
    </p>
    <strong id="combat">Warmode and Fighting</strong>
    <p>
      Aggressive combat takes place in Britannia only when you are in "Warmode". To enter warmode, click on the "Peace" button to the right of your paperdoll. Your cursor will then turn red in color. Double-clicking on an enemy will then cause you to advance and engage in combat.
    </p>
    <p>
      To leave Warmode, single-click the same button (now named "War").
    </p>
    <p>
      Be extremely careful when targeting while in warmode! Double-clicking on an NPC or another player will count as an attack against them, whether or not you actually make contact with the target. This will cause you to be flagged as a criminal ("gray") and other players will be able to kill you without repercussion for a short period.
    </p>
    <p>
      For more information on "grays", "reds", "blues" and the Reputation System, please see the Ultima Online Starter Guide (included with game purchase) under the chapter entitled "Reputation."
    </p>
    <strong>Targeting</strong>
    <p>
      To target anything in the world of Ultima Online, you merely need to move your mouse cursor over the item/monster/person and click. Be careful what and when you target, as you may find yourself unintentionally engaging in an attack!
    </p>
    <strong id="additionalinfo">Additional Information</strong>
    <p>
      Ultima Online is a vast and complex world, and while we've given you some tips to get started, we certainly haven't told you everything. To learn more about Ultima Online, we recommend downloading our Player Guide, or visiting one of our thousands of player fan sites!
    </p>
  </div>
</article>
