<article>
  <h5>Second Age Shard Rules</h5>
  <div class="rules">
    <p>
      This is a very preliminary list of the most basic, and sometimes obvious rules (and info) on Second Age.
    </p>
    <p>
      Second Age is set in the T2A era of UO. These were very dangerous times in the land of Britannia; as such citizens who wander outside the protection of the guards do so at their own risk. Know how to protect yourself for you will be out of the reach of Lord British's assistance. Staff will not typically intervene in player affairs.
    </p>
    <ul class="extra-padding">
      <li>
        There is a three account limit on Second Age.
      </li>
      <li>
        You should not be connected to Second Age on more than three accounts ever.
      </li>
      <li>
        We allow unattended macroing with <a href="http://www.runuo.com/razor/">Razor</a> only(dl)
      </li>
      <li>
        No other software may be used for repetitive tasks.
      </li>
      <li>
        You may not gather things unattended. This includes Mining, Lumberjacking, lockpicking in dungeons, cotton picking/sheep shearing, and fishing. You may also not sell items to vendors AFK for profit.
      </li>
      <li>
        Non-EA/OSI Clients are not allowed.
      </li>
      <li>
        Reasonable character names are encouraged but not required.
      </li>
      <li>
        Obscene names may be changed at staff discretion
      </li>
      <li>
        House and Boat decay is 14 days if not refreshed.
      </li>
      <li>
        All characters on Second Age may own one house.
      </li>
      <li>
        There is no Young player status on Second Age.
      </li>
      <li>
        Accounts will Never be deleted due to inactivity.
      </li>
      <li>
        Respect the Staff. No one is being paid for their work here and we have gone to great lengths to find honest and competent staff members.
      </li>
      <li>
        We also expect the Staff to respect the Players. If you have an incident with a staff member we will do our best to find a way to resolve it.
      </li>
      <li>
        All staff instructions should be followed. You are welcome to voice objection after the fact.
      </li>
    </ul>
    <p>
      This is not intended to be a comprehensive list of rules. Other common sense guidelines may apply, but we do our best to leave the game to the players. Staff on Second Age do not play.
    </p>
    <p>
      There is also a basic FAQ index here: UOSA FAQ
    </p>
  </div>
  <h5>Britannian Etiquette</h5>
  <div>
    <strong>Etiquette</strong>
    <p>
      Would you walk up to a stranger on the street, demand that they give you 20 dollars, then start screaming at them when they don't?
    </p>
    <p>
      How about asking that nice fellow at the corner store for directions to the post office and calling him obscene names?
    </p>
    <p>
      Wouldn't be too effective, would it?
    </p>
    <p>
      The community of Ultima Online is quite similar to that of a real world small town. Being courteous can win you friends. Being rude can win you a bad reputation.
    </p>
    <p>
      The rules of etiquette in UO are pretty easy to follow and generally, with a little common sense, you can work them out on your own.
    </p>
    <ul class="extra-padding">
      <li>
        <strong>Turn off your Caps Lock.</strong>Speaking in all capital letters is considered 'shouting' and rude. "Can you give me directions to the bank?" works much better than "CAN YOU GIVE ME DIRECTIONS TO THE BANK?"
      </li>
      <li>
        <strong>Be polite.</strong>Treat others as you would any stranger on the street. Even if you are playing an "evil" character, you can manage to do so in a way that respects others around you.
      </li>
      <li>
        <strong>Snooping.</strong>'Snooping' is the act of peeking inside another's backpack to see what they carry. It is a standard skill for thieves and other shadowy sorts in Ultima Online. Because of its sneaky nature, it is considered rude, and may even be taken as an aggressive act.
        <%= image_tag("screenshot-snooping.jpg") %>
      </li>
      <li>
        <strong>Player Killing.</strong>Player killing as a play style is not a violation of the rules of UO. However, it certainly won't win you any friends - except perhaps other player killers.
        <%= image_tag("screenshot-player_killing.jpg") %>
      </li>
      <li>
        <strong>Looting.</strong>Also in somewhat poor taste and it can get you killed. Looting the corpse of another player will flag you as gray, marking you as a "criminal", meaning any other players can kill you without repercussion.
        <%= image_tag("screenshot-looting.jpg") %>
      </li>
    </ul>
    <strong>Meeting friends</strong>
    <p>
      Following the rules of etiquette will put you off to a good start at meeting others. Additionally, you may wish to meet others at events, both official and player-run, that happen nearly daily on all shards. From guild initiations to merchant auctions to parties and scavenger hunts, there is always something going on in the world of Britannia. You can read up on daily scheduled events, and those in the near future, by visiting the Scheduled Events section.
    </p>
    <strong>Harassment</strong>
    <p>
      Ultima Online strives to embrace a strong community and to provide a comfortable role-playing atmosphere for all of our players. However, in a world populated by thousands of real people, there are bound to be occasional conflicts, and occasionally these conflicts may cross the line and become harassment.
    </p>
    <p>
      If you feel you are being harassed in the game, you may Report it by using the HELP button on your Paperdoll. However, be certain that the action you are reporting is really harassment as we take these reports very seriously. Invalid harassment reports may result in action taken against the reporter's account.
    </p>
    <strong>Player Versus Player</strong>
    <p>
      Ultima Online is a roleplaying game that encourages various play styles. Some players prefer a play style that supports Player Versus Player combat (PvP). This means that players may choose to engage in combat with other players.
    </p>
    <p>
      If you are unaccustomed to PvP we recommend that as a beginning player you stay within range of the town guards until you have become more familiar with the game. While in range of the town guards, if you are attacked, you may call for help by saying 'guards'. Once you leave the area close to town, however, the guards will not hear any cry for help. Don't worry though! You'll see a message anytime you step outside the boundaries of town, reminding you to be aware of possible dangers.
    </p>
  </div>
</article>
