<div class="section spotlight">
  <div class="headline-container">
    <h2 class="headline">Alert</h2>
  </div>

<div class="content">
  <div class="content-description">
    <a href="#"><h3>ULTIMA ONLINE ACCOUNT SECURITY</h3></a>
    As with any other thing of value in everyday life, your computer, and the data kept on that computer, is subject to crime. With the Internet becoming more and more a part of every day life, it is important to understand computer crime and ways to secure your computer from strangers. Our Security FAQ is designed to provide you with information and tips on keeping your computer and your data safe from crime, and allow you to enjoy Ultima Online in a worry-free environment.
    <a href="#" class="small-link">Full Story</a>
  </div>
</div>


</div>
