<div class="section directory">
  <div class="headline-container">
    <h2 class="headline">Directory</h2>
  </div>

<div class="content">
  <div class="content-description">

    <span class="a12b-r">HOME</span><br>
    <a href="features.html">Features</a>  <br>
    <a href="screens.html">Screen Shots</a> <br>
    <a href="downloads.html">Downloads</a> <br>
    <a href="require.html">Requirements</a> <br>
    <a href="awards.html">Awards</a> <br>
    <a href="service.html">Policies, Rules, &amp; Payment Info</a> <br>
    <a href="shop.html">Shopping</a> <br>
    <a href="mail.html">Contact Us</a>

    <br><img src="/web/20000815053946im_/http://www.uo.com/images/blank.gif" width="435" height="1" vspace="7"><br>

    <span class="a12b-r">COMMUNITY</span><br>
    <a href="https://web.archive.org/web/20000815053946/http://town.uo.com/bnn/index.html">Britannia News Network</a>  <br>
    <a href="https://web.archive.org/web/20000815053946/http://town.uo.com/calendar/index.shtml">Calendar</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://town.uo.com/guilds/">Guilds</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://town.uo.com/links.html">Links</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://town.uo.com/uo_lists.html">Newsletter Subscribing/Unsubscribing</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://town.uo.com/luncheon.html">Player Luncheons</a>

    <br><img src="/web/20000815053946im_/http://www.uo.com/images/blank.gif" width="435" height="1" vspace="7"><br>

    <span class="a12b-r">SUPPORT</span><br>
    <a href="https://web.archive.org/web/20000815053946/http://support.uo.com/tech_0.html">Tech Support</a> <br>
    <a href="account.html">Acct Management</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://support.uo.com/gm_0.html">GameMaster Support</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://support.uo.com/faq.html">FAQ's</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://support.uo.com/uopro.html">3rd Party Programs</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://support.uo.com/downtime.html">Downtime Schedule</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://support.uo.com/gm_9.html">Harassment Policy</a>

    <br><img src="/web/20000815053946im_/http://www.uo.com/images/blank.gif" width="435" height="1" vspace="7"><br>

    <span class="a12b-r">UPDATE CENTER</span><br>
    <a href="https://web.archive.org/web/20000815053946/http://update.uo.com/fyi.html">FYI</a>  <br>
    <a href="https://web.archive.org/web/20000815053946/http://support.uo.com/c_issue.html">Common Issues</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://support.uo.com/s_issue.html">Shard Issues</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://update.uo.com/concept.html">In Concept</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://update.uo.com/indev.html">In Development</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://update.uo.com/general.html">General Testing</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://update.uo.com/next.html">Testing for Next Update</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://update.uo.com/latest.html">Latest Game Updates</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://update.uo.com/comments.html">Comments From The Team</a>


    <br><img src="/web/20000815053946im_/http://www.uo.com/images/blank.gif" width="435" height="1" vspace="7"><br>

    <span class="a12b-r">PLAYGUIDE</span><br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/start.html">Starting Up</a>  <br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/history.html">History</a>  <br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/atlas.html">Atlas</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/bestiary.html">Bestiary</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/magic.html">Magic</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/weapons.html">Equipment</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/house_0.html">Houses and Boats</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/skills.html">Skills</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/misc.html">Miscellaneous</a> <br>
    <a href="https://web.archive.org/web/20000815053946/http://guide.uo.com/siege_0.html">Siege Perilous</a>
    <br><img src="/web/20000815053946im_/http://www.uo.com/images/blank.gif" width="435" height="1" vspace="7"></font></td>

  </div>
</div>


</div>
