<div class="section live_events">
  <div class="headline-container">
    <h2 class="headline">Live Events</h2>
    <small>(4 of many player run events this month)</small>
  </div>
  <ul>
    <li>
      <strong>In-Game: </strong><a href="">4th Minoc Horserace (Europa-Aug 16)</a>
    </li>
    <li>
      <strong>In-Game: </strong><a href="">Battle Chess Match--Guild vs. Guild (Chesapeake-Aug 19)</a>
    </li>
    <li>
      <strong>In-Game: </strong><a href="">Summer Festival (Drachenfels-Aug 20)</a>
    </li>
    <li>
      <strong>In-Game: </strong><a href="">(Re-)Opening of the Inn of the Last Home! (Europa-Aug 20)</a>
    </li>
  </ul>
</div>
