<div class="section spotlight">
  <div class="headline-container">
    <h2 class="headline">Spotlight</h2>
    <small>(Updated: August 11 2000)</small>
  </div>

<div class="content">
  <div class="image">
    <a href="https://web.archive.org/web/20000815053946/http://www.uo.com/spot_61.html"><img src="https://web.archive.org/web/20000815053946im_/http://www.uo.com/spotart/sp_iceisland2.jpg" width="92" height="124" border="0" align="left" hspace="5" vspace="5" alt="Ice Island">
  </div>
  <div class="content-description">
    <a href="#"><h3>"ADVENTURES ON DAGGER ISLAND"</h3></a>
    Dangers abound on the snowy plains of Dagger Island, lying in wait for the unsuspecting, and unguarded, traveler. Our spotlight today focuses on a traveler to the Island, who found something far more valuable than treasure and triumph among the polar bears and snow leopards.
    <a href="#" class="small-link">Full Story</a>
  </div>
</div>


</div>
