<div class="section town_cryer">
  <div class="headline-container">
    <h2 class="headline">Town Cryer</h2>
    <small>(Updated: Mar 1 2000 6:55AM)</small>
  </div>

  <div class="content">
    <div class="content-description">
      <a href="#"><h3>JULIA’S MESSAGE TO DUPRE</h3></a>
      <ul>
        <li>
          <strong>Also:</strong><a href="#">Joye, Librarian of Britain, Murdered</a>
        </li>
        <li>
          <a href="#">
            Lord British abducted!
          </a>
        </li>
        <li>
          <a href="#">
            A Warning
          </a>
        </li>
        <li>
          <a href="#">
            Visions of the Black Temple
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>
