<div class="section update_center">
  <div class="headline-container">
    <h2 class="headline">Update Center</h2>
    <small>(Updated: Mar 3 2000 9:22PM)</small>
  </div>

  <div class="content">
    <div class="content-description">
      <a href="#"><h3>FYI: PUBLISH ADDITIONS – LAKE SUPERIOR AND GREAT LAKES</h3></a>
      <ul>
        <li>
          <strong>Common Issues</strong>
          <a href="#">Patch Server Issues</a>
        </li>
        <li>
          <strong>Shard Issues</strong>
          <a href="#">Lake Superior Down</a>
        </li>
      </ul>
    </div>
  </div>


</div>
