<div class="section whats_new">
  <div class="headline-container">
    <h2 class="headline">What's New</h2>
    <small>(Updated: Feb 17 2000)</small>
  </div>

  <div class="content">
    <div class="content-description">
      <a href="#"><h3>CHARACTER SEARCH ADDED TO MYUO</h3></a>
      <ul>
        <li>
          <strong>Also:</strong><a href="#">Announcing Ultima Online Character Pages</a>
        </li>
        <li>
          <a href="#">
            Introducing the Britannia Network News
          </a>
        </li>
        <li>
          <a href="#">
            Oceania Shard Opens
          </a>
        </li>
        <li>
          <a href="#">
            Oceania Opening Date Announced
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>
