<article>
  <h2 class="h1">Downloads</h2>
  <div>

    <h2>UO Client</h2>
    <p>
      UOSA T2A Client Package, includes Razor, UO-AutoMap, and Ventrillo (332MB)
    </p>
    <a target="_blank" href="http://download.uosecondage.com/UOSA_Client_Setup.exe">Download</a>

    <h2>Utilities</h2>
    <p>
      Razor: UO Freeshard Assistant
    </p>
    <ul>
      <li>
        <a target="_blank" href="https://bitbucket.org/msturgill/razor-releases/downloads/Razor1_0_13_6_Inst.exe">Download</a> from <a target="_blank" href="https://bitbucket.org/msturgill/razor-releases/overview">Razor website</a>
      </li>
      <li>
        <a target="_blank" href="http://download.uosecondage.com/Razor_Latest.exe">Download from Razor website</a>
      </li>
      <li>
        Notes: <a target="_blank" href="http://forums.uosecondage.com/viewtopic.php?f=32&t=23931">How To Bypass Razor Updates</a>
      </li>
    </ul>
    <p>
      UO Auto Map (Release Notes)
    </p>
    <ul>
      <li>
        <a target="_blank" href="http://download.uosecondage.com/UOAM_Install.exe">Download UOAM from SourceForge</a>
      </li>
      <li>
        <a target="_blank" href="http://download.uosecondage.com/UOAMv9_Install.exe">
          Download UOAM
        </a>
        <a target="_blank" href="http://forums.uosecondage.com/viewtopic.php?f=2&t=21716">multi-client </a>
        from SourceForge
      </li>
    </ul>
    <p>
      .Net 2.0 Framework (Required for Razor under Win XP)
    </p>
    <ul>
      <li>
        <a target="_blank"  href="http://www.microsoft.com/downloads/info.aspx?na=90&p=&SrcDisplayLang=en&SrcCategoryId=&SrcFamilyId=0856eacb-4362-4b0d-8edd-aab15c5e04f5&u=http%3a%2f%2fdownload.microsoft.com%2fdownload%2f5%2f6%2f7%2f567758a3-759e-473e-bf8f-52154438565a%2fdotnetfx.exe">
          Download from Microsoft
        </a>
      </li>
    </ul>
    <p>
      UO Spawnmap Utility
    </p>
    <ul>
      <li>
        <a href="http://download.uosecondage.com/uosmu.zip">
          Download from our webserver
        </a>
      </li>
    </ul>
  </div>
</article>
