<font face="verdana, comic sans ms" size="-1">
<font face="MatrixBold" size="6" color="#9f3215"><font size="7">R</font>EQUIREMENTS</font>
<br><br>

<table border="0" cellpadding="0" cellspacing="1" width="100%">
<tbody><tr>


<td width="50%" valign="top"><font face="verdana, comic sans ms" size="-1">
<font face="MatrixBold" size="5" color="#9f3215">MINIMUM REQUIRED</font><br>
<br>
• Pentiumฎ 200 MHz<br>
• 32 Megs RAM<br>
• Windows 95 or Windows 98<br>
• 2 Meg PCI video card (DirectX supported set to 16-bit color)<br>
• 16-bit sound card (DirectX supported)<br>
• 383 MB hard drive space <br>
• 4x CD-ROM drive<br>
• Microsoft-compatible mouse, 100% Win95/98 compatible<br>
• Slip/PPP or direct connect at 28.8kbps or better with 32-bit TCP/IP stack
</font></td>

<td width="50%" valign="top"><font face="verdana, comic sans ms" size="-1">
<font face="MatrixBold" size="5" color="#9f3215">RECOMMENDED</font><br>
<br>
• Pentium IIฎ 233 MHz CPU<br>
• 32 Megs RAM<br>
• Windows 95 or Windows 98<br>
• 4 Meg PCI video card (DirectX supported set to 16-bit color)<br>
• 16-bit sound card (DirectX supported)<br>
• 650 Megs uncompressed hard drive space<br>
• 8x CD-ROM drive<br>
• Microsoft-compatible mouse, 100% Win95/98 compatible<br>
• Slip/PPP or direct connect at 56.6 kbps or better with 32-bit TCP/IP stack <br>
</font></td>


</tr></tbody></table>
<br>


<font face="MatrixBold" size="5" color="#9f3215">NOTE:</font><br>
This game requires the hard drive space listed above for installation.
<br><br>

The swap file used by Win95/98 will need additional free hard drive space. (This space may vary from system to system. We recommend at least 50 Megs.)
<br><br>

Please also note that you must have an active connection to the Internet in order to play Ultima Online.
<br><br>

<img src="/web/20000815065508im_/http://www.uo.com/images/i_flamekill.jpg" width="200" height="192" border="0" align="right">

<font face="MatrixBold" size="5" color="#9f3215">FEES &amp; RETURNS:</font><br>
Each copy of the Regular Edition comes with 1 month free play time. The
Charter Edition comes with 3 free months. After this time you will be required to pay a monthly
fee of $9.95 per month, by credit card or by using Ultima Online Game Time. See the Shoppe under
UO Game Time for more details.
<br><br>

Origin and Electronic Arts will take returns of the full product (CD-ROM and packaging) at any time during the initial free 30 day period.

































</font>
