<article>
<div>

  <h1>Britannian news network</h1>
  The Britannia News Network is the official news site for Ultima Online. All articles are written by our Interest staff based on actual events and situations in the game. From time to time fictional stories may be provided by the developers, expanding upon the lore of Britannia.
Full Story


Player run events make up the life and atmosphere found in Ultima Online. Our calendar breaks down the events by shard and provide details on who, what, where, when and why of each event as submitted by the actual players.
Full Story


Over 23,000 player run organizations, or guilds, permeate the landscape of UO. Each guild, ranging in size from just a few members to over 200 in the largest, conducts meetings and plans adventures. Our page reflect rankings and warfare status' and are growing in features all the time.
Full Story


We send out a monthly newsletter covering the most recent changes in the game and on the Web site. If you would like to join, all you need to do is provide us with your Email address.
Full Story


There are hundreds of fan created and maintained Ultima Online fan sites throughout the world, we are constantly evaluating them and will continue to present new and unique sites here.
Full Story


The community created within Ultima Online isn't restricted to staying there. Around the globe, groups of UO players are getting together for luncheons, where they can chat and get to know each other, finally face to face. Here we will be listing player luncheons and events as they come up.
Full Story

  </div>

  </article>
