<<article>
  <%= render '/events/events-nav' %>
  <h2 class="h1">GUIDELINES FOR SUBMISSION</h2>
  Here, in this region of UOSA, you will find listings of events and other goings-on in the multiple worlds of Britannia.
<br /><br />
Note that the events listed here are not sponsored by UOSA, and we make no guarantees about the safety or legitimacy of any given event.
<br /><br />
To submit an event for the calendar, please use this Event Submission Form.
<br /><br />
We do ask that events generally be scheduled outside of cities if they are to be large or of general admission, in order to reduce congestion.
<br /><br />
Be sure to give sufficient advance notice! We do not update the calendar on weekends, so weekend events must be sent in before Friday!
<br /><br />
We do have some criteria for posting. If you are organizing a playerkiller hunt or the like, we require that a contact address or identity be given, and that the event take place in the fictional context before we will post it. We do not accept pure guild ads or for sale ads, though auctions or open markets are welcome.
</article>
