@import 'mixins';

.uo_logo{
  height: 110px;
  width: 80px;
  display:inline-block;
  background-image: image-url('uo_logo.gif');
  z-index:9000;
  margin-right: auto;
  position:absolute;
  left:0px;
  top:10px;
  @media screen and (max-width: $small){
    display:none;
  }
}

header{
  height:126px;
  width:100%;
  display:flex;
  justify-content: flex-end;
  flex-wrap:wrap;
  position: relative;
  .header-content{
    display: flex;
    align-items: center;
    width:100%;
    flex-wrap:wrap;
    position:relative;
    &:before{
      content: '';
      height: 109%;
      width: 20px;
      left: -20px;
      top: -11px;
      background-position: left;
      background-size: cover;
      position: absolute;
      z-index:0;
      background-image: image-url('topleft_c.jpg');
    }
    &:after{
      content: '';
      height: 113%;
      width: 12px;
      right: -12px;
      top: -14px;
      background-position: inherit;
      background-size: cover;
      position: absolute;
      z-index: 0;
      background-image: image-url('topright_c.jpg');
    }
  }
  .date{
    color:white;
    font-size: 0.7rem;
    font-style: italic;
    @media screen and (max-width: $small){
      display:none;
    }
  }
  .page_name{
    font-family: "CelticHand";
    text-transform:capitalize;
    width: 210px;
    text-align: center;
    font-size: 1.2rem;
    color: $lightgrey;
    margin-left:50px;
    margin-bottom: -5px;
    letter-spacing: 2px;
    @media screen and (max-width: $small){
      margin-left:0px;
    }
  }
  .logo{
    width:180px;
    height:60px;
    display:inline-block;
    margin-left:50px;
    @media screen and (max-width: $small){
      margin:0px auto;
    }
    h1, span{
      text-align: center;
    }
    h1{
      margin: 9px 0px;
      display: flex;
      flex-direction: column;
      color: #9f3215;
      font-family: "CelticHand";
    }
    .small-header{
      font-size: 0.96rem;
      text-transform:capitalize;
      letter-spacing: 1px;
    }
  }
  .header_bar{
    color:white;
    background-color: #9f3215;
    height: 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index:9000;
    .small-header{
      @media screen and (max-width: $small){
        display:none;
      }
    }
  }
  .login-container,.search-container{
    width:150px;
    height: 58px;
    display: flex;
    flex-direction: column;
    text-align: center;
    input{
      margin-top:2px;
    }
    @media screen and (max-width: $small){
      height:24px;
    }
  }
}
