<article>

<h2 class="h5">Contact Us</h2>
<br><br>
Please contact us on Discord:
<br  />
<%= link_to "https://discord.gg/aR8vNTP", class: "social_link", target: '_blank' do %>
<%= show_svg('discord') %>
<% end %>

<br><br>


<script src="/web/20000815065530js_/http://www.uo.com/jsfiles/contact.js"></script><span class="a12b-r">TO CONTACT US DIRECTLY:</span><br>Origin Systems, Inc. <br>Attn: Ultima Online<br>5918 W. Courtyard<br>Austin, TX 78731 <br><br><b>Account Support</b><br>(888) 842-6388 (inside the continental U.S.)<br>(512) 434-4358 (outside the continental U.S.) Press option #1 from main menu<br>7:00 AM - 9:45 PM CST, 7 days a week<p><b>Technical Support</b><br>(804) 963-8577 Press option #2 from main menu<br>7:30 AM - 7:30 PM CST, 7 days a week</p><p><b>Sales issues</b> <br>(Game Time, Second Age, and Renaissance purchases):<br><a href="mailto:eadirect@ea.com">eadirect@ea.com</a><br>P.O. Box 9013<br>Redwood City, CA 94063-9013<br>(800) 245-4525 (inside US and Canada)<br>(650) 628-7555 (Outside US and Canada)










</p></font></td>
</article>
