<section id="sidebar">
  <button class="mobile_button" onclick="mobileMenu();"></button>
  <ul>
    <li>
      <%= link_to 'Community', community_path %>
    </li>
    <li>
      <a href="#">Playguide</a>
    </li>
    <li>
      <a href="#">Support</a>
    </li>
    <li>
      <a href="#">Update CTR</a>
    </li>
    <li>
      <a href="#">ACCT MGMT</a>
    </li>
    <li>
      <%= link_to 'Home', root_path %>
      <ul class="sub_menu">
        <li>
          <a href="#">What's New</a>
        </li>
        <li>
          <a href="#">Features</a>
        </li>
        <li>
          <%= link_to 'Requirements', requirements_path %>
        </li>
        <li>
          <a href="#">Downloads</a>
        </li>
        <li>
          <a href="#">Awards</a>
        </li>
        </ul>
    </li>
    <li>
      <%= link_to 'Contact Us', contact_path %>
    </li>
  </ul>
</section>
<script>
  function mobileMenu(){
    var element = document.getElementById("sidebar");
    element.classList.toggle("mobileMenu");
  };
</script>
